@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --main-bg: #121212;
  --main-fg: #fafafa;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg) !important;
  color: var(--main-fg) !important;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.heading {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

.ui {
  font-family: "Poppins", sans-serif;
}

.ui.menu {
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}

.ui.dropdown .menu .item,
.ui.dropdown .menu .selected.item {
  background-color: var(--main-bg);
  color: var(--main-fg);
  transition: 0.3s linear;
}
.ui .dropdown .menu .item:hover {
  background-color: var(--main-fg);
  color: var(--main-bg);
}

.michroma {
  /* font-family: "Michroma", sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Raleway", sans-serif;
}

.main-container {
  min-height: 100vh;
  padding: 0 0.5rem;
  padding-top: 60px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

svg.react-github-calendar__calendar text {
  fill: var(--main-fg) !important;
}
