.container {
  padding: 0.5rem;
  margin-bottom: 30px;
}

.filter {
  margin: 10px 0px 40px 0px;
}

.info {
  font-size: 12;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 4px 0;
}

.filter-dropdown {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.projectsGrid {
  margin-top: 30px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  justify-content: center;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: var(--main-bg);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
}
