.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 240px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease-in-out;
}

.box {
  width: 100%;
}

.thumbnail {
  padding: 30px 20px;
  position: relative;
}

.content {
  word-wrap: break-word;
  padding: 12px;
  overflow-wrap: break-word;
}

.content .desc span .project-description {
  width: max-content;
  word-wrap: break-word;
  white-space: normal;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tags {
  padding: 10px 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tags span {
  margin: 0px 3px;
  padding: 4px;
  transition: 0.3s ease-in-out;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

@media (hover: hover) {
  .container:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: scale(1.2);
    background-color: var(--main-bg);
    z-index: 2;
  }

  .tags span:hover {
    background-color: hsla(0, 0%, 98%, 0.315);
    border-radius: 6px;
  }

  .links {
    transition: 0.3s ease-in-out;
    /* height: 0; */
    max-height: 0;
    visibility: hidden;
  }

  .container:hover  .links {
    height: auto;
    max-height: 100px;
    visibility: visible;
  }
}
