
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 240px;
  background-color: var(--main-bg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease-in-out;

}

.box {
  width: 100%;
}

.thumbnail {
  padding: 30px 20px;
}

.content {
  word-wrap: break-word;
  padding: 12px;
  overflow-wrap: break-word;
}

.content .desc span .project-description {
  width: max-content;
  word-wrap: break-word;
  white-space: normal;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scalez(1.2) scale(1.2);
}
