/* For cards with api */
.flip-container {
  position: relative;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease-in-out;
}

.container[disabled] {
  pointer-events: none;
}

.box {
  width: 100%;
}

.thumbnail {
  padding: 30px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 8px;
}

.content {
  word-wrap: break-word;
  padding: 12px;
  overflow-wrap: break-word;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 12px;
}

.name {
  font-weight: 500;
  font-size: 1.4em;
}

.flipper {
  cursor: pointer;
  padding: 10px;
}

.content .desc span {
  margin: 12px 0;
  width: max-content;
  word-wrap: break-word;
  white-space: normal;
  font-size: 14px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tags {
  padding: 10px 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tags span {
  margin: 0px 3px;
  padding: 4px;
  transition: 0.3s ease-in-out;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  justify-content: center;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: var(--main-bg);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
}

@media (hover: hover) {
  /* For cards with api */
  .flip-container:hover {
    z-index: 2;
  }

  .container:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: scale(1.2);
    background-color: var(--main-bg);
    z-index: 2;
    margin-bottom: 20px;
  }

  .tags span:hover {
    background-color: hsla(0, 0%, 98%, 0.515);
    border-radius: 6px;
  }

  .links {
    transition: 0.3s ease-in-out;
    max-height: 0;
    visibility: hidden;
  }

  .container:hover .links {
    height: auto;
    max-height: 100px;
    visibility: visible;
  }
}
